.body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

 table {
            width: 100%;
            
            background-color: #fff;
 }
  th, td {
            padding: 20px;
            text-align: center;
            vertical-align: top;
            border: 1px solid #ddd;
        } 
        .banner{
            width: 100%;
            height: auto;
            max-height: 200px;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }